#Back {
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--edge-pad);
  display: flex;
  align-items: center;
  font-size: var(--font-size-small);
  text-transform: uppercase;
  color: var(--fg-color-light);
  svg {
    transform: scale(0.6);
  }
  &:hover {
    color: var(--fg-color);
  }
}
