.Button {
  --color: var(--dark);
  --border: var(--color);
  --background: transparent;
  --padding: 14px 44px;
  border: 1px solid var(--border);
  color: var(--color);
  background: var(--background);
  text-transform: uppercase;
  font-size: var(--font-size-small);
  padding: var(--padding);
  font-weight: 600;
  letter-spacing: 0.1em;
  &.small {
    --padding: 8px 24px;
  }
  &.light {
    --color: #fff;
    --border: var(--fg-color-light);
    &:hover {
      --border: #fff;
    }
  }
  &.dark {
    --color: var(--bg-color);
    --background: var(--fg-color);
    --border: var(--background);
    &:hover {
      --background: var(--oc-gray-9);
      --border: var(--oc-gray-9);
    }
  }
}

body.over-dark .Button.dark {
  --background: transparent;
}
