.Container {
  margin: 0 auto;
  width: 960px;
  text-align: left;
  &.small {
    width: 500px;
  }
  &.medium {
    width: 600px;
  }
  &.full-image-width img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .Container {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .Container {
    &.medium, &.small {
      width: 100%;
    }
  }
}
