#Social .icon {
  display: inline-block;
  width: var(--icon-small-size);
  height: var(--icon-small-size);
  opacity: .2;
  margin-right: var(--icon-small-pad);
  &:hover {
    opacity: 1;
  }
  svg {
    fill: var(--fg-color);
  }
}

body.over-dark #Social .icon svg {
  fill: var(--bg-color);
}

@media screen and (max-width: 700px) {
  #Social {
    display: none;
  }
}
