// Get In Touch
section#contact.wrapper.style1.fade-up
  .inner
    h2 Get in touch
    p
      | Fill the form below and we will contact you. You can provide just your email address, but we would choose the first group of alpha-collaborators among those, who provide the details.
    .split.style1
      include form
      include info
