section
  ul.contact
    li
      h3 Address
      span
        | 13 de Maio, 2081 - Fatima
        br
        | Fortaleza, CE
        br
        | Brazil
    li
      h3 Email
      a(href='#') hi@getstal.kr
    li
      h3 Social
      ul.icons
        li
          a.fa-github(href=`https://github.com/${about.socialNetworks.github}`)
            span.label GitHub
        li
          a.fa-twitter(href=`https://twitter.com/${about.socialNetworks.twitter}`)
            span.label Twitter
        li
          a.fa-facebook(href=`https://facebook.com/${about.socialNetworks.facebook}`)
            span.label Facebook
        li
          a.fa-instagram(href=`https://twitter.com/${about.socialNetworks.instagram}`)
            span.label Instagram
