doctype html
html(lang='en')

  include layouts/head/_

  body.over-dark

    include partials/header/_
    include partials/what
    include partials/flow

    include partials/features/extensible
    include partials/features/stack
    include partials/features/platforms

    include partials/catalog
    include partials/next
    include partials/download

    include layouts/scripts
