doctype html

html

  include layouts/head/_

  body

    include partials/menu

    #wrapper

      include partials/welcome

      include partials/packages

      include partials/team

      include partials/getInTouch/_

    include partials/footer

    include layouts/scripts

