title #{about.title}
meta(name='description', content=`${about.description}`)
meta(name='author', content=`${about.author}`)

meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
meta(name='robots', content='index, follow')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='canonical', href=`${about.canonical}`)
