section#sidebar
  .inner
    nav
      ul
        li
          a(href='#intro') Welcome
        li
          a(href='#plugins') Available Extensions
        li
          a(href='#team') Who we are
        li
          a(href='#contact') Get in touch
