section#plugins.wrapper.style3.fade-up
  .inner
    h2 Available Extensions
    p
      | Currently we have these services available to be integrated with stalkr:
    .features

      each package in packages
        section
          h3 #{package.name}
          p
            | #{package.description}

    ul.actions
      li
        a.button(href='https://github.com/getstalkr') See full list
