section#what.Content.center.medium.border.gray
  .Container
    .Feature
      .info
        .Title
          span.text What?
        p
          | stalkr is a simple–yet powerful–set of tools which gathers data from both continuous integration and application infrastructure monitoring tools in order to make it easier to monitor the whole developing process, in a way the entire team can see at a glance, from the very first commit to the final release.
      .Image
        img(src='images/logo.png', alt='Our logo.')
