section.Content.dark.center.small
  .Container
    .Feature
      .info
        .Title
          span.text Extensible by Design
        p
          | stalkr is entirely built with extensibility in mind: our plugins-based architecture ensures that you can pick and deploy only the right portions of code (client + server) related to the tools you want us to integrate with–and you can write yours too: if you want, for example, to integrate with a repository management service for which there's no integration already developed, you can simply write one on your own!
      .Image
          img(src='images/extensible.png', alt='Monitor overview.')
