section.Content.center.small.dark
  .Container
    .Feature
      .info
        .Title
          span.text Multi Platform
        p
          | Although our experimental release is a simple client made for the  TV, we do intend to make stalkr clients available on as much platforms as possible, which include:
        ul
          li Smart TV platforms
          li SmartWatch platforms
          li Popular Mobile platforms
          li Popular Desktop OSs
          li The Web itself
      .Image
        img(src='images/multi-platform.png', alt='Multi Platform')
