section.Content.border.center.small
  .Container
    .Feature
      .info
        .Title
          span.text Simple Stack
        p
          | One of our engineers draft this picture when he first taught his 15-years-old nephew–and guess what? He got it!
      .Image
        img(src='images/stack-overview.png', alt='Stack Overview')
