script(src='vendor/jquery/dist/jquery.min.js')
script(src='vendor/jquery.scrollex/jquery.scrollex.min.js')
script(src='vendor/scrolly/public/js/scrolly.min.js')
script(src='vendor/skel/dist/skel.min.js')
script(src='js/main.min.js')
