section.Content.full.center.dark.bg-image.hero.top
  #Logo
    span.subtitle Modern application & infrastructure monitoring tools.
  .Gallery
    .Image.shadow.tv
      img(src='images/screenshot1.png', alt='Monitor response time histogram details.')
    .Image.shadow.tv
      img(src='images/topshelf.png', alt='stalkr on your TV :)')
    .Image.shadow.tv
      img(src='images/screenshot2.png', alt='Global monitoring view.')
  #Arrow
    svg(height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
      path(d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z')
      path(d='M0-.75h24v24H0z', fill='none')
