.Packages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Package {
  width: 100px;
  margin: 40px 60px;
  img {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .Package {
    width: 75px;
    margin: 25px 30px;
  }
}
