.Roadmap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .topic {
    width: 250px;
    margin: 40px 25px;
    .title {
      font-size: var(--font-size-small);
      letter-spacing: var(--tracking);
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 850px) {
  .Roadmap .topic {
    width: 100%;
    margin: 20px 25px;
  }
}
