:root {

  --light-desaturated-violet: #543662;
  --bright-pink: #ed2a68;
  --vivid-orange: #e59b08;
  --dark-desaturated-violet: #231635;
  --vivid-blue: #1782ff;
  --pure-cyan: #00b5e7;

  --white: #ffffff;
  --black: #000000;
  --light-grayish-blue-1: #f8f9fa;
  --light-grayish-blue-2: #e9ecef;
  --light-grayish-blue-3: #ced4da;
  --dark-grayish-blue: #868e96;
  --light-gray: #fafafa;

  --dark: var(--dark-desaturated-violet);
  --border-light: var(--light-grayish-blue-2);
  --border-lighter: var(--light-grayish-blue-1);

  --shadow-small: 0 -5px 15px 0 var(--light-grayish-blue-3);
  --shadow-large: 0 16px 32px 0 rgba(0, 0, 0, 0.1);

  --bg-color: var(--white);
  --hero-bg-color: var(--black);
  --fg-color: var(--dark);
  --fg-color-light: var(--gray);

}
